<section class="justify-center">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-4 flex flex-col p-4 w-full mx-auto max-w-[400px]">
        <h1 class="uppercase text-center">Registrarse en Chantasy</h1>
        <mat-form-field class="w-full">
            <mat-label>Código de registro</mat-label>
            <input type="text" matInput formControlName="registerCode" required />
            <mat-hint>Solicita un código en CFI</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" matInput formControlName="username" required />
            <mat-hint>Lo usarás para entrar al sistema</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" required />
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Registrarse</button>
    </form>
    <a class="block hover:text-blue-500 mt-5 mx-auto max-w-[250px]" routerLink="/login">Si ya tienes cuenta inicia sesión aquí</a>
</section>